@model TurtleEnglish.Models.Vocabulary

@{
    ViewBag.Title = "vocabAdd";
    Layout = "~/Views/Shared/TurtleEnglish_adminLayoutPage.cshtml";
}

<div class="right_col" role="main">
    <div class="row" style="padding: 50px;">
        <div class="col-md-12" style="padding-left: 150px; padding-right: 150px;">
            <div class="x_panel">
                <div class="x_title">
                    <h2 style="width: 80%;">Add New Feedback Topic</h2>
                    <ul class="nav navbar-right panel_toolbox">
                        <li>
                            <a class="collapse-link"><i class="fa fa-chevron-up"></i></a>
                        </li>

                        <li>
                            <a class="close-link"><i class="fa fa-close"></i></a>
                        </li>
                    </ul>
                    <div class="clearfix"></div>
                </div>
                <div class="x_content">
                    <!-- start project list -->
                    @using (Html.BeginForm("vocabAdd", "AdminHomePage", FormMethod.Post))
                    {
                    <form>
                        <div class="form-group">
                            <label>Topic</label>
                            @Html.TextBoxFor(Model => Model.word, new { @class = "form-control", @placeholder = "Input New Word Here" })
                        </div>

                        <div class="form-group">
                            <label>Type</label>
                            @Html.TextBoxFor(Model => Model.typeWord, new { @class = "form-control", @placeholder = "Input Type Here" })
                        </div>
                        <div class="form-group">
                            <label>Mean</label>
                            @Html.TextBoxFor(Model => Model.mean, new { @class = "form-control", @placeholder = "Input Mean Here" })
                        </div>
                        <div class="form-group">
                            <label>Level</label>
                            @Html.TextBoxFor(Model => Model.levelStudy, new { @class = "form-control", @placeholder = "Input Level Here" })
                        </div>
                        <div class="form-group">
                            <label>ImgURL</label>
                            @Html.TextBoxFor(Model => Model.imgURL, new { @class = "form-control", @placeholder = "Input Image URL Here" })
                        </div>
                        <div class="form-group">
                            <label>SoundURL</label>
                            @Html.TextBoxFor(Model => Model.soundURL, new { @class = "form-control", @placeholder = "Input Sound Path Here" })
                        </div>

                        <div style="display: flex;align-items: center;justify-content: center;">
                            <input onclick="location.href='@Url.Action("vocabularyManagement", "AdminHomePage", new {})'" type="button" style="float:right;margin-right:20px; background:#b8b894; border:#b8b894;" class="btn btn-primary" value="Return" />
                            <button style="float:right;margin-left:20px;" type="submit" class="btn btn-primary">Submit</button>
                        </div>

                    </form>
                        @Html.Raw(TempData["msg"])
                    }

                    <!-- end project list -->
                </div>
            </div>
        </div>
    </div>
</div>
