@model TurtleEnglish.Models.UserInfo


<div class="content" style="width:80%; left:70px;">


    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <form data-toggle="validator" role="form">
            <table>
                <tr>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label style="color:red;" >User Name:</label>
                            <input name="username" value="@Model.username" type="text" class="col-md-12 form-control" readonly />
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label>Full Name:</label>
                            <input name="fullname" value="@Model.fullname" type="text" class="col-md-12 form-control" />
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label>Date of birth (MM-dd-yyyy): </label>
                            @try
                            {
                                <input name="dateOfBirth" value="@Model.dateOfBirth.Value.ToString("MM/dd/yyyy")" type="text" class="col-md-12 form-control" />
                            }
                            catch
                            {
                                <input name="dateOfBirth" value="" type="text" class="col-md-12 form-control" />
                            }
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label>Phone Number: </label>
                            <input name="sdt" value="@Model.sdt" type="text" class="col-md-12 form-control" />
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label style="color:red;">Your current level: </label>
                            <input name="levelStudy" value="@Model.levelStudy" type="text" class="col-md-12 form-control" readonly />
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label>Address: </label>
                            <input name="addr" value="@Model.addr" type="text" class="col-md-12 form-control" />
                        </div>
                    </td>
                </tr>
                <tr>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label>New Password: </label>
                            <input type="password" name="pass" placeholder="Password" id="password" class="col-md-12 form-control">
                        </div>
                    </td>
                    <td style="padding:10px;">
                        <div class="form-group">
                            <label>Confirm New Password: </label>
                            <input type="password" placeholder="Confirm Password" id="confirm_password" class="col-md-12 form-control" ></div>
                    </td>
                </tr>
                <tr>
                    <td>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <button type="submit" value="Save" class="btn btn-primary">Save</button>
                            </div>
                        </div>
                    </td>
                </tr>
            </table>
        </form>

    }
</div>
</div>
<script>
    var password = document.getElementById("password"), confirm_password = document.getElementById("confirm_password");

    function validatePassword(){
      if(password.value != confirm_password.value) {
        confirm_password.setCustomValidity("Passwords Don't Match");
      } else {
        confirm_password.setCustomValidity('');
      }
    }

    password.onchange = validatePassword;
    confirm_password.onkeyup = validatePassword;
</script>